# dependencies
node_modules/
frontend/node_modules/
backend/node_modules/

# backend build
backend/node-server/dist/

# next.js build
.next/
frontend/.next/

# env files
.env
.env.*
*.env
backend/node-server/.env
frontend/.env
frontend/.env.*

# logs
*.log

# OS files
.DS_Store
Thumbs.db
